/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212; /* Dark background for the body */
    color: #e0e0e0; /* Light text color */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f; /* Dark background for header */
    color: #e0e0e0; /* Light text color for header */
}

.gridElement {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.grey {
    background-color: #3e3e3e; /* Dark grey for grid */
    opacity: 1;
}

.white {
    background-color: #cfcfcf; /* Light grey for grid */
    opacity: 1;
}

.master {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
}

.board, .movesBoard {
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
}

.board {
    background-color: #1f1f1f; 
    height: 600px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.movesBoard {
    display: flex;
    flex-direction: column;
    height: 600px; 
    background-color: #1f1f1f; 
}

.top, #middle, .bottom {
    display: flex;
    padding: 10px;
}

.top {
    justify-content: space-between;
}

.playerRed, .playerBlue, .turn {
    flex: 1;
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: #2c2c2c; 
    color: #e0e0e0;
}

.turn {
    flex: 2; 
}

#middle {
    flex-grow: 1;
    overflow-y: auto;
    flex-direction: column;
    background-color: #2c2c2c; 
    border: 1px solid #444; 
    padding: 10px;
    margin: 10px 0;
    color: #e0e0e0;
}

.bottom {
    justify-content: space-between;
}

.btn {
    flex: 1;
    justify-content: center;
    height: 4vh ;
    margin: 1px;
    /* padding: 2px 1px;  */
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.btn svg {
    width: 100%;
    /* height: auto; */
}
#githublogo{
    height: 100%;
    width: 100%;
    object-fit:contain;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    color: #e0e0e0; 
    height: 10px;
    width: 10px;
}

.moveBoardElement{
    padding: 1%;
    text-align: left;
    border: 2px black solid;
    width: 90%;
    /* max-height: 2%; */
    height: auto;
    margin: 2%;
    backdrop-filter: blur(10px);
    text-align: center;
}
.redback{
    color: red;
    /* background-color:rgb(248, 211, 211) ; */
    backdrop-filter: blur(10px);
}
.blueback{
    color: rgb(158, 158, 255);
    /* background-color:rgb(248, 211, 211) ; */
    backdrop-filter: blur(10px);
}
.gameOverBoard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playerRed, .playerBlue, .highlight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerRed {
    border: 4px solid red;
    padding: 2px;
}

.playerBlue {
    border: 4px solid blue;
    padding: 2px;
}

.highlight {
    background-color: #4CAF50;
    /* margin: 50px auto; */
    /* border-radius: 10px; */
    box-shadow: 
    0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    justify-content: center;
    /* min-height: ; */
}
.bullet {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: yellow;
    align-self: center;
}

@media screen and (max-width: 1355px) {
    #middle {
        display: none;
    }
    .board {
        background-color: #1f1f1f; 
        height: 80%;
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(8, 1fr);
    }
    
    .movesBoard{
        height: auto;
    }
    header {
        text-align: center;
        padding: 10px;
        background-color: #1f1f1f;
        color: #e0e0e0;
    }

    .master {
        flex-direction: column;
        align-items: center;
    }

    .top {
        height: 3vh;
        margin: 2vh;

        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        /* margin-bottom: 10px; */
    }

    .playerRed, .playerBlue {
        margin-bottom: 10px;
        border: 1px solid;
    }
    .playerRed{
        border: 1px red solid;
    }
    .playerBlue{
        border: 1px blue solid;
    }

    .playerRed, .playerBlue, #turnName {
        width: 100%;
        text-align: center;
        padding: 5px;
        background-color: #2c2c2c;
        color: #e0e0e0;
    }

    .boardContainer {
        width: 100%;
        margin: 10px 0;
    }

    #buttonSpace {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .btn {
        flex: 1;
        justify-content: center;
        height: 4vh ;
        margin: 1px;
        /* padding: 2px 1px;  */
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .gridElement {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}

